* {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #000828;
}

div, canvas {
	position: absolute;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

canvas {
	pointer-events: none;
}

#gameCanvas {
	image-rendering: pixelated;
}

#uiDiv {
	font-size: 64px;
}

.button {
	position: relative;
	cursor: pointer;
	color: white;
}

.icon {
	width: 80px;
	margin: 9px;
}

/* .label {
	font-weight: bold;
} */

.earth {
	font-size: 64px;
	left: 45%;
	top: 45%;
}

.animate {
	transition: transform 2s;
	transform-origin: 40% 75%;
	transition-timing-function: ease-in-out;
}

.title {
	background-color:#306bff;
	border:solid 6px;
	border-color:#59f #048 #036 #f6b;
}
